<form method="post" action="{{ path('produits_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn">Delete</button>
</form>
