{% extends 'base.html.twig' %}

{% block title %}Edit Produits{% endblock %}

{% block body %}
    <h1>Edit Produits</h1>

    
    {{ include('produits/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('produits/_delete_form.html.twig') }}
    
    <a href="{{ path('produits_index') }}">back to list</a>
{% endblock %}
