{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1>Produits index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th class="mobile">Id</th>
                <th>Name</th>
                <th class="mobile">Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th class="mobile">date de creation</th>
                <th class="mobile">actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td class="mobile">{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td class="mobile">{{ produit.description }}</td>
                <td>{{ produit.quantity }}</td>
                <td>{{ produit.price }}</td>
                <td>{{ produit.datecreate }}</td>
                <td class="mobile">
                    
                    <a href="{{ path('produits_show', {'id': produit.id}) }}">show</a>
                    {% if app.user %}
                    <a href="{{ path('produits_edit', {'id': produit.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     {% if app.user %}
        <a href="{{ path('produits_new') }}">Create new</a>
    {% else %}
        <a href='{{ url('app_login') }}'>Veuillez vous connecter a un compte pour créer des Produits</a>
    {% endif %}
{% endblock %}
