{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th class="mobile">actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td class="mobile">
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    {% if app.user %}
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('category_new') }}">Create new</a>
    {% else %}
        <a href='{{ url('app_login') }}'>Veuillez vous connecter a un compte pour créer des categories</a>
    {% endif %}
{% endblock %}
