h1 {
    text-align: center;
    color: white; 
}
h2 {
    text-align: center;
    color: white; 
}
body{
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
ul{
    text-align: center;
}

li{
    color: white;  
}
a{
  color: white;  
  text-decoration-style: none;
}
p{
    color: white; 
}
.btn{
    color: white; 
}
button{
    color: white; 
}
li{
    list-style-type: none;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color: white;  
}
.register{
    display: flex;
    align-content: center;
}

@media(max-width: 650px) {
    .mobile{
        display: none;
    }
}

