<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/style.css">
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
    <div class="nav">
    <nav>
        <ul>
            <li>
                <a href='{{ url('produits_index') }}' class="btn-nav">Produits</a>
            </li>
            <li>
                <a href='{{ url('category_index') }}' class="btn-nav">Category</a>
            </li>
            {% if not app.user %}
            <li>
                <a href='{{ url('app_register') }}' class="btn-nav">Créer un compte</a>
            </li>
            {% endif %}
            <li>
                <a href='{{ url('app_login') }}' class="btn-nav">Login / Logout</a>
            </li>
        </ul>
    </nav>
    </div>
    
        {% block body %}
        {% include 'produits/liste_produit.html.twig'%}
        
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
